<section class="content content--full-fluid">
		

  <div class="ccm-custom-style-container ccm-custom-style-main-212362 ccm-block-custom-template-homepage">
<script>
$(document).ready(function(){
$(function () {
  $("#ccm-image-slider-212362").responsiveSlides({
      prevText: "",   // String: Text for the "previous" button
      nextText: "",
                  nav:true
              });
});
});
</script>
<div class="hompage-slide-template">
<div class="container">
<div class="row">
<div class="col-xs-12">
<div class="ccm-image-slider-container ccm-block-image-slider-arrows">
<div class="ccm-image-slider">
  <div class="ccm-image-slider-inner">

          <ul class="rslides rslides1" id="ccm-image-slider-212362">
                      <li id="rslides1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 700ms ease-in-out 0s;">
                              <a href="https://events.fcw.com/emergingtech/" class="mega-link-overlay" target="_blank">
                                          <img src="https://static.carahsoft.com/concrete/files/7716/5823/8977/Emerging-Tech-Workshop_1140x325.jpg" alt="" width="1140" height="325">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s1" style="float: left; position: relative; opacity: 1; z-index: 2; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="rslides1_on">
                              <a href="https://www.govexec.com/assets/fedramp-technology-playbook/portal/" class="mega-link-overlay" target="_blank">
                                          <img src="https://static.carahsoft.com/concrete/files/3916/5963/9811/GovForward-FedRAMP-Technology-Playbook-v2_Website-Homepg-Banner.png" alt="" width="1140" height="325">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s2" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://www.carahsoft.com/resources/adobe-scale-personalized-customer-experiences-guide-2022" class="mega-link-overlay">
                                          <img src="https://static.carahsoft.com/concrete/files/7516/5772/3726/Adobe--VBA-CX_1140x325.jpg" alt="" width="1140" height="325">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s3" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://www.carahsoft.com/resources/dell-4-best-practices-federal-data-security-protection-report-2022" class="mega-link-overlay">
                                          <img src="https://static.carahsoft.com/concrete/files/9316/5772/3572/Dell--VBA-Cyber_1140x325.jpg" alt="" width="1140" height="325">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s4" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://events.bizzabo.com/FCWFedRAMP" class="mega-link-overlay" target="_blank">
                                          <img src="https://static.carahsoft.com/concrete/files/4116/5765/1785/FedRAMP-Summit_1140x325-pre.jpg" alt="" width="1140" height="325">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s5" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://www.carahsoft.com/resources/okta-how-to-implement-zero-trust-datasheet-2022" class="mega-link-overlay">
                                          <img src="https://static.carahsoft.com/concrete/files/7316/5772/3344/Okta-VBA-Zero-Trust_1140x325.jpg" alt="" width="1140" height="325">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s6" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://www.carahsoft.com/innovation/innovation-resources/2022-FCW-July-Mobility-Report" class="mega-link-overlay">
                                          <img src="https://static.carahsoft.com/concrete/files/6516/5773/4235/FCW_July_22_homepage.jpg" alt="" width="4751" height="1355">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s7" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://www.carahsoft.com/innovation/innovation-resources/2022-fnn-july-google-cloud-cloud-adoption" class="mega-link-overlay">
                                          <img src="https://static.carahsoft.com/concrete/files/5916/5774/4122/FNN_July_-_Google_homepage_1140x325.jpg" alt="" width="4751" height="1355">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s8" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://www.carahsoft.com/innovation/innovation-resources/govloop-guide-continuous-improvement" class="mega-link-overlay">
                                          <img src="https://static.carahsoft.com/concrete/files/4916/4642/3608/GovLoop_Modernization_Guide_homepage_1140x325.jpg" alt="" width="1141" height="326">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s9" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://www.carahsoft.com/innovation/innovation-resources/2022-govtech-july-mobility-report" class="mega-link-overlay">
                                          <img src="https://static.carahsoft.com/concrete/files/1916/5669/5918/GovTech_July_1140x325_homepage.jpg" alt="" width="4751" height="1355">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s10" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://www.carahsoft.com/innovation/innovation-resources/fnn-expert-edition-ITES-SW2" class="mega-link-overlay">
                                          <img src="https://static.carahsoft.com/concrete/files/6316/5428/0346/FNN_Contract_Guide_homepage.jpg" alt="" width="4751" height="1355">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s11" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://www.carahsoft.com/carahsoft-partners-federal-news-network" class="mega-link-overlay">
                                          <img src="https://static.carahsoft.com/concrete/files/8216/0328/3014/FNN_Landing_Page_Banner_Desktop.jpg" alt="" width="2375" height="678">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s12" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://www.carahsoft.com/innovation-education/resources/campus-tech-nov-data" class="mega-link-overlay">
                                          <img src="https://static.carahsoft.com/concrete/files/4816/3770/5160/EdTech_Campus_Tech_Nov_General_Homepage_Banner.jpg" alt="" width="1141" height="326">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
                      <li id="rslides1_s13" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 700ms ease-in-out 0s;" class="">
                              <a href="https://carahevents.carahsoft.com/Event/Details/307869-main" class="mega-link-overlay" target="_blank">
                                          <img src="https://static.carahsoft.com/concrete/files/7016/5997/0180/MultiCloud_Geek_Week_v3_CPE_Homepage_Banner.jpg" alt="" width="2375" height="677">                                <div class="ccm-image-slider-text">
                              </div>
                      </a>
                          </li>
              </ul><a href="#" class="rslides_nav rslides1_nav prev"></a><a href="#" class="rslides_nav rslides1_nav next"></a>
          </div>

</div>
</div>
</div>
</div>
</div>
</div>

</div>


<div class="container">
<div class="row">
<div class="col-xs-12">
  <div class="intro">
      <h1 style="font-weight: 550; color: black; font-size: 30px; padding-bottom: 10px;">The Trusted Government IT Solutions Provider<span style="font-size: 16px;"><sup>®</sup></span></h1>
      <p style="word-spacing: .9px; text-align: left; margin-left: 40px;" class="intro__text">As government agencies and academic institutions implement large-scale telework and online learning initiatives, Carahsoft’s technology and reseller partners offer a range of solutions that enable telework,
support collaboration, ensure business continuity, and scale communications channels and security.</p>
  </div>
</div>
</div>
</div>





</section>