<div class="vendor-banner" style="background-color:#FFFFFF;">
  <div class="row vendor-banner">
    <a class="vendor-banner__logo" href="https://www.carahsoft.com/microsoft">
      <img
        src="https://static.carahsoft.com/concrete/files/1116/2696/2826/msft_logo_Color_80.png"
        alt="Carahsoft Vendor logo"
      />
    </a>
  </div>
</div>
<div class="contact-panel">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-unstyled contact-bar">
          <li
            class="contact-panel__item"
            data-toggle="modal"
            data-target="#quoteModal"
          >
            <a class="media-cs" href="#">
              <span class="img glyphicon glyphicon-pencil"></span>
              <span class="bd text"><b>Request A Quote</b></span>
            </a>
          </li>
          <li class="contact-panel__item">
            <a class="media-cs" href="tel:(844) 673-8468">
              <span class="img glyphicon glyphicon-earphone"></span>
              <span class="bd text"> (844) 673-8468 </span>
            </a>
          </li>
          <li class="contact-panel__item">
            <a class="media-cs" href="mailto:Microsoft@carahsoft.com">
              <span class="img glyphicon glyphicon-envelope"></span>
              <span class="bd text">Microsoft@carahsoft.com</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <section class="content content--left col-xs-12 col-sm-8">

      <div class="ccm-image-slider-container ccm-block-image-slider-arrows">
        <div class="ccm-image-slider">
            <div class="ccm-image-slider-inner">
    
                    <ul class="rslides rslides1" id="ccm-image-slider-185615">
                                <li id="rslides1_s0" class="rslides1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s;">
                                        <a href="https://www.carahsoft.com/news/splunk-enterprise-transformation-with-azure-now-available" class="mega-link-overlay"></a>
                                                    <img src="https://static.carahsoft.com/concrete/files/2916/2093/5434/Splunk-Enterprise-Transformation-with-Azure-Banner.jpg" alt="slide" width="750" height="400">                                <div class="ccm-image-slider-text">
                                                            </div>
                    </li>
                                <li id="rslides1_s1" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out 0s;" class="">
                                        <a href="https://www.carahsoft.com/innovation/innovation-resources/2021-FCW-August-Multicloud" class="mega-link-overlay"></a>
                                                    <img src="https://static.carahsoft.com/concrete/files/1616/3060/7746/August_Issue_2_Microsite_Microsoft.jpg" alt="slide" width="750" height="401">                                <div class="ccm-image-slider-text">
                                                            </div>
                    </li>
                                <li id="rslides1_s2" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out 0s;" class="">
                                        <a href="https://azure.microsoft.com/en-us/updates/azure-vmware-solution-achieves-fedramp-high-authorization/" class="mega-link-overlay" target="_blank"></a>
                                                    <img src="https://static.carahsoft.com/concrete/files/6016/3234/3927/Azure_and_VMware_FedRAMP_Announcement_Rotating_Ad.jpg" alt="slide" width="751" height="401">                                <div class="ccm-image-slider-text">
                                                            </div>
                    </li>
                        </ul><a href="#" class="rslides_nav rslides1_nav prev"></a><a href="#" class="rslides_nav rslides1_nav next"></a>
                    </div>
    
        </div>
    </div>
    <hr>

    <div id="tabs__id-212357"> 
      <div class="tabs tabs--default">
        <ul class="tabs__ctrl">
												
          <li class="" data-tab="js-tab-overview" id="tab-overview">
            <a style="width:115px;" class="default" href="#overview"><div style="width:103px;">Overview</div></a>
          </li>
                        <li class="" data-tab="js-tab-contracts" id="tab-contracts">
                <a style="width:115px;" class="default" href="#contracts"><div style="width:103px;">Contracts</div></a>
              </li> 									<li class="is-selected" data-tab="js-tab-cmmc" id="tab-cmmc">
                <a style="width:115px;" href="#cmmc" class="default"><div style="width:103px;">CMMC Domains</div></a>
              </li>
                                  <li class="" data-tab="js-tab-events" id="tab-events">
                  <a style="width:115px;" class="default" href="#events"><div style="width:103px;">Events</div></a>
                </li>
                                <li class="" data-tab="js-tab-news" id="tab-news">
                  <a style="width:115px;" class="default" href="#news"><div style="width:103px;">News</div></a>
                </li>
                                <li class="" data-tab="js-tab-resources" id="tab-resources">
                  <a style="width:115px;" class="default" href="#resources"><div style="width:103px;">Resources</div></a>
                </li>
                          
          <li class="" data-tab="js-tab-products" id="tab-products">
            <a style="width:115px;" class="default" href="#products"><div style="width:103px;">Products</div></a>
          </li>
                    
          <li class="" data-tab="js-tab-blogs" id="tab-blogs">
            <a style="width:115px;" class="default" href="#blogs"><div style="width:103px;">Blogs</div></a>
          </li>
                    
          <li class="" data-tab="js-tab-technology-partners" id="tab-technology-partners">
            <a style="width:115px;" class="default" href="#technology-partners"><div style="width:103px;">Technology Partners</div></a>
          </li>
                    
          <li class="" data-tab="js-tab-reseller-partners" id="tab-reseller-partners">
            <a style="width:115px;" class="default" href="#reseller-partners"><div style="width:103px;">Reseller Partners</div></a>
          </li>
                    
          <li class="" data-tab="js-tab-microsoft-isv-partners" id="tab-microsoft-isv-partners">
            <a style="width:115px;" class="default" href="#microsoft-isv-partners"><div style="width:103px;">Microsoft ISV Partners</div></a>
          </li>
                    
          <li class="" data-tab="js-tab-carahsoft-order-portal" id="tab-carahsoft-order-portal">
            <a style="width:115px;" class="default" href="#carahsoft-order-portal"><div style="width:103px;">Carahsoft Order Portal</div></a>
          </li>
              </ul>
      </div>
    </div>




    </section>
    <aside class="sidebar sidebar--right col-xs-12 col-sm-4">
      <a
        href="https://www.carahsoft.com/microsoft/buy-microsoft-gcc-high-2022"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="https://static.carahsoft.com/concrete/files/6516/5048/7128/MSFT_GCCH_Banner_280x160.jpg"
          alt="Buy Microsoft GCC High and Government Services Banner"
          width="280"
          height="140"
          class="ccm-image-block img-responsive bID-203731"
      /></a>

      <br />

      <a
        href="https://www.carahsoft.com/microsoftazuregov"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="https://static.carahsoft.com/concrete/files/4616/1236/7433/Microsoft_Microsite_Sidebar_Ad_-_2.2.21-02.jpg"
          alt="Microsoft Azure sidebar"
          width="584"
          height="584"
          class="ccm-image-block img-responsive bID-166573"
      /></a>

      <br />

      <a
        href="https://www.carahsoft.com/microsoft-surface"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="https://static.carahsoft.com/concrete/files/1316/1236/7567/Microsoft_Microsite_Sidebar_Ad_-_2.2.21-01.jpg"
          alt="Microsoft Surface sidebar"
          width="585"
          height="584"
          class="ccm-image-block img-responsive bID-166574"
      /></a>

      <br />

      <section class="info-box info-box--contact">
        <h3 class="info-box__title">Contact</h3>
        <div class="info-box__content">
          <p>
            For more information about Microsoft Products and Services, please
            contact:
          </p>
          <p><strong>Microsoft Solutions for Government</strong></p>
          <p>
            <strong>Email: </strong
            ><span class="redactor-invisible-space"
              ><a href="mailto:microsoft@carahsoft.com"
                >Microsoft@carahsoft.com</a
              ><br
            /></span>
          </p>
          <p>
            <span class="redactor-invisible-space"
              ><span
                class="redactor-invisible-space"
                style="background-color: transparent;"
                ><span style="font-weight: 700;">Main: </span></span
              >(844) 673-8468<br
            /></span>
          </p>
          <p class="MsoNormal">
            <strong>Toll Free:</strong>
          </p>
          <p class="MsoNormal">(844)-MSFTGOV</p>
          <p class="MsoNormal">(844) 673-8468<br /><br /></p>
          <p class="MsoNormal">(877)-MSFTEDU</p>
          <p><span class="redactor-invisible-space">(877) 673-8338</span></p>
        </div>
      </section>

      <section class="info-box info-box--contact">
        <h3 class="info-box__title">Microsoft Support</h3>
        <div class="info-box__content">
          <p style="">
            <strong>(844)-616-2060<br /></strong>
          </p>
          <p style="">
            <a href="https://www.carahsoft.com/microsoft/support-portal"
              >Click here
            </a>
            to visit our on-demand portal to submit a support ticket to a
            Carahsoft Microsoft Certified Representative.
          </p>
        </div>
      </section>
    </aside>
  </div>
</div>
