<div class="greybg" style="background-color: #f6f6f6;">
  <div
    style="position:absolute; width: 100%; display:none;"
    class="solve-page-links-bg"
  >
    <div
      style="width: 50%;height: 80px;position: relative;background-color: #132742;float: left;"
    ></div>
    <div
      style="width: 50%;height: 80px;position: relative;background-color: #072770;float: right;"
    ></div>
    <div
      class="solve-header-buttons"
      style="position: relative;width: 100%;height: 50px;background-color: #3154A5;display: inline-block;"
    ></div>
  </div>
  <div class="container topic-tree-cont">
    <div class="row">
      <section class="content content--left col-xs-12 col-sm-6">
        <div class="carahsoft-component main-heading">
          <h1 class="main-heading__title">
            Supporting Government Initiatives with Innovative Technology
            Solutions
          </h1>
          <div
            id="Supporting Government Initiatives with Innovative Technology Solutions211519"
          ></div>
          <p class="main-heading__subtitle"></p>
          <div style="clear: both"></div>
        </div>

        <p style="font-size: 18px; font-weight: 900px;">
          Technology has become a critical asset for Public Sector agencies
          striving to improve operations and achieve mission success. Carahsoft
          Technology Corp., The Trusted Government IT Solutions Provider®,
          supports Federal, State and Local Government agencies as well as
          Education and Healthcare organizations with a comprehensive portfolio
          of IT solutions.
        </p>
      </section>
      <section class="content content--right col-xs-12 col-sm-6">
        <style>

          .vimeovideo {
              width: 100%;
          }
        </style>

        <br /><br /><br />

        <iframe
          class="vimeovideo"
          title="vimeo-player"
          src="https://player.vimeo.com/video/686390831?h=a8b8b6cbae"
          width="640"
          height="360"
          frameborder="0"
          allowfullscreen=""
          data-vimeo-tracked="true"
          data-ready="true"
        ></iframe>
      </section>
    </div>
    <div class="row">
      <section class="content"></section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <section class="content content--pre col-xs-12 col-12">
      <hr />

      <h2 style="font-size: 25px; padding-bottom: 10px;">
        Carahsoft’s IT Solution Portfolio
      </h2>

      <p style="font-size: 18px; font-weight: 900px;">
        As the Master Government Aggregator® for our vendor and reseller
        partners, we deliver solutions for 5G, AI and Machine Learning, Customer
        Experience and Engagement, Cybersecurity, DevSecOps, Education, FedRAMP
        Technologies, Geospatial, Healthcare Technology, Law Enforcement
        Technology, Mobility, MultiCloud, Open Source, Training Technology, Zero
        Trust and more.
      </p>

      <p style="font-size: 19px; font-weight: 900px;">
        Explore the technology verticals below for IT solutions to support your
        agency and help you achieve mission success.
      </p>
    </section>
  </div>
</div>
<div class="whitebg">
  <div class="container">
    <div class="row">
      <section class="content col-sm-12">
        <div class="level-one">
          <a href="/solve/cybersecurity">
            <div data="Cybersecurity" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/3116/2161/7724/Carahsoft_Website_Subvertical_Icons_Cybersecurity-06.png"
                alt="Carahsoft"
                width="45"
              />
              <span>Cybersecurity</span>
            </div>
          </a>
          <a href="/solve/multicloud">
            <div data="MultiCloud" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/4616/2161/7798/Carahsoft_Website_Subvertical_Icons_Multi.png"
                alt="Carahsoft"
                width="45"
              />
              <span>MultiCloud</span>
            </div>
          </a>
          <a href="/solve/fedramp">
            <div data="FedRAMP" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/7816/2161/7843/Carahsoft_Website_Subvertical_Icons_FedRAMP.png"
                alt="Carahsoft"
                width="45"
              />
              <span>FedRAMP</span>
            </div>
          </a>
          <a href="/solve/open-source">
            <div data="Open Source" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/8116/3605/4670/Carahsoft_Website_Subvertical_Icons_Open_Source.png"
                alt="Carahsoft"
                width="45"
              />
              <span>Open Source</span>
            </div>
          </a>
          <a href="/solve/devsecops">
            <div data="DevSecOps" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/1016/2161/7823/Carahsoft_Website_Subvertical_Icons_DevSecOps-03.png"
                alt="Carahsoft"
                width="45"
              />
              <span>DevSecOps</span>
            </div>
          </a>
          <a href="/solve/ai-machine-learning">
            <div data="AI &amp; Machine Learning" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/4216/2161/7911/Carahsoft_Website_Subvertical_Icons_Big_Data.png"
                alt="Carahsoft"
                width="45"
              />
              <span>AI &amp; Machine Learning</span>
            </div>
          </a>
          <a href="/solve/customer-experience-and-engagement">
            <div
              data="Customer Experience &amp; Engagement"
              class="nodeContainer"
            >
              <img
                src="https://static.carahsoft.com/concrete/files/2816/2645/0333/Carahsoft_Website_Subvertical_Icons_Citizen_Experience_NEW.png"
                alt="Carahsoft"
                width="45"
              />
              <span>Customer Experience &amp; Engagement</span>
            </div>
          </a>
          <a href="/solve/5g">
            <div data="5G" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/5316/2326/7512/Carahsoft_Website_Subvertical_Icons_5G.png"
                alt="Carahsoft"
                width="45"
              />
              <span>5G</span>
            </div>
          </a>
          <a href="/solve/iot">
            <div data="IoT" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/7016/2406/5620/Carahsoft_Website_Subvertical_Icons_IoT_LARGE.png"
                alt="Carahsoft"
                width="45"
              />
              <span>IoT</span>
            </div>
          </a>
          <a href="/solve/geospatial">
            <div data="Geospatial" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/1016/2161/7953/Carahsoft_Website_Subvertical_Icons_Geospatial.png"
                alt="Carahsoft"
                width="45"
              />
              <span>Geospatial</span>
            </div>
          </a>
          <a href="/solve/law-enforcement-technology">
            <div data="Law Enforcement Technology" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/5116/2161/7980/Carahsoft_Website_Subvertical_Icons_Law_Enforcement_Technology.png"
                alt="Carahsoft"
                width="45"
              />
              <span>Law Enforcement Technology</span>
            </div>
          </a>
          <a href="/solve/mobility">
            <div data="Mobility" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/6316/2679/3346/Carahsoft_Website_Subvertical_Icons_Mobility.png"
                alt="Carahsoft"
                width="45"
              />
              <span>Mobility</span>
            </div>
          </a>
          <a href="/solve/healthcare-technology">
            <div data="Healthcare Technology" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/2016/2819/1169/Carahsoft_Website_Subvertical_Icons_Healthcare_Technology.png"
                alt="Carahsoft"
                width="45"
              />
              <span>Healthcare Technology</span>
            </div>
          </a>
          <a href="/solve/technology-training">
            <div data="Training Technology" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/7616/2939/8566/Carahsoft_Website_Subvertical_Icons_Training.png"
                alt="Carahsoft"
                width="45"
              />
              <span>Training Technology</span>
            </div>
          </a>
          <a href="/solve/zero-trust">
            <div data="Zero Trust" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/2316/3675/2561/Carahsoft_Website_Subvertical_Icons_Zero_Trust.png"
                alt="Carahsoft"
                width="45"
              />
              <span>Zero Trust</span>
            </div>
          </a>
          <a href="/solve/education">
            <div data="Education Technology" class="nodeContainer">
              <img
                src="https://static.carahsoft.com/concrete/files/7316/5400/2319/Carahsoft_Website_Subvertical_Icons_Ed_Tech.png"
                alt="Carahsoft"
                width="45"
              />
              <span>Education Technology</span>
            </div>
          </a>
        </div>

        <hr />
      </section>
    </div>
  </div>
</div>
